<mat-card>
  <mat-spinner *ngIf='isloading'></mat-spinner>
  <form *ngIf='!isloading' (submit)='onSavePost(postform)' #postform='ngForm'>
    <mat-form-field>
      <!--<input matInput type="text" [(ngModel)]='enteredtitle'>-->
      <!-- '?' mark is used in case the variable has not been initialized as a precaution-->
      <!-- variable_name=[ngModel] will bind the field to that variable_name-->
      <input matInput type="text" name='title' [ngModel]="post?.title"
      required #title='ngModel' placeholder="Post Title">
      <mat-error *ngIf='title.invalid'>Error! Need some input in text field</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!--<textarea matInput rows="6" [(ngModel)]='enteredcontent'></textarea>-->
      <textarea matInput rows="6" name='content' [ngModel]="post?.content"
      #content='ngModel' placeholder="Post Content"></textarea>
    </mat-form-field>
    <hr>

    <hr>
    <!--<button mat-raised-button color="primary" (click)="onAddPost()">Save Post</button>-->
    <button mat-raised-button color="primary" type='submit'>Save Post</button>
  </form>
</mat-card>

